@import"~bulma/bulma.sass";

.opacity-enter-active, .move-leave-active {
  opacity: 10;
  transition: all .3s linear;
}

.opacity-enter {
  opacity: 8;
}

.opacity-leave-to {
  opacity: 0;
}
.pm-container {
  display: grid;
  grid-template: 50px minmax(500px, 1fr) 80px / 1fr;
  grid-gap: 3px;
  height: 100vh;
}

.pm-content {
  background: white;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 200px));
  grid-gap: 10px;
  justify-content: center;
}
